@charset "ISO-8859-1";
input[type=submit] {
    background-color: red;
    color:white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}
 h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}
form {
    width:60%;
    padding:20px;
    border: 1px solid #f1f1f1;
}


